<!doctype html>
<html lang="en">
<head>
  <title>{{ page.title }} - {{ site.title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--     Fonts and icons     -->
  <link rel="icon" type="image/png" href="{{ "/img/favicon.png" | absolute_url }}"/>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/css/bootstrap.css" | absolute_url }}">
  <!-- Importain Tags -->
  <meta name="description" content="{% if .page.description %}{{ .page.description }}{% else %}{{ .site.description }}{% endif %}">
</head>
<body>
